* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav p {
    color: white;
    font-size: 20px;
    margin: .5rem;
    font-weight: 700;
    position: fixed;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4070f4;
}

nav {
    display: flex;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    font-weight: 550;
    margin-left: 8rem;
    margin-top: 8px;
    gap: 20px;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
}
nav .mainMenu li a:hover {
    background: white;
    color: #4070f4;
}

nav .openMenu {
    font-size: 1rem;
    margin: 20px;
    display: none;
}

nav .closeMenu {
    display: none;
}

nav .logo {
    margin: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 4rem;
    color: #fff;
}

.search {
    width: 330px;
    float: left;
    margin-left: 100px;
}

.srch {
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 9px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #fff;
    border: 2px solid #fff;
    margin-top: 9px;
    color: royalblue;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.contain {
    position: relative;
    max-width: 370px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

header {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
}

.container form {
    margin-top: 10px;
}

form .field {
    margin-bottom: 20px;
}

form .input-field {
    position: relative;
    height: 55px;
    width: 100%;
    background-color: red;
}

.input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 1px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
}

.invalid input {
    border-color: #d93025;
}

.input-field .show-hide {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
}

.field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
}

.invalid .error {
    display: flex;
}

.error .error-icon {
    margin-right: 6px;
    font-size: 15px;
}

.create-password .error {
    align-items: flex-start;
}

.create-password .error-icon {
    margin-top: 4px;
}

.button {
    margin: 25px 0 6px;
}

.button input {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #0e4bf1;
}

.already span {
    text-align: center;
    display: flex;
    justify-content: center;
}

@media(max-width:1000px){
    nav .mainMenu {
        height: 85vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu li a {
        color: royalblue;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 1.5rem;
        cursor: pointer;
    }

    nav .openMenu {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        color: #fff;
        cursor: pointer;
    }

    nav .mainMenu li a:hover {
        background: none;
        font-size: .8rem;
    }

    nav .logo {
        font-size: 15px;
        margin: 0;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .srch {
        border: 1px solid royalblue;
        color: #000;
    }

    .search {
        margin: 0;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        top: 8%;
        margin-left: 2rem;
    }

    .btn {
        background: royalblue;
        color: #fff;
        border: 2px solid royalblue;
    }
}